<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>PokeDex</title>
  </head>
  <body>
    <% if(message != "") {  %>
      <section class="mensagem">
          <p><%= message %></p><span class="close">&times;</span>
      </section>
  <% }  %>    
    <header>
      <a href="./cadastro" class="cadastro cadastro--pan"><span>Cadastrar Pokemon</span></a>
    </header>
    <main>
      <section id="pokemons">
        <% pokedex.forEach((pokemon) => { %>
  <a href="/detalhes/<%= pokemon.id%>" class="cards">
        <div class="cartas">
          <img src="<%= pokemon.imagem %>" alt="<%= pokemon.imagemAlt %>" />
          <h2><%= pokemon.nome %> Id: <%=pokemon.numero%></h2>
          <p class="descricao"><%= pokemon.descricao %></p>
          <p>Type: <%= pokemon.tipo %></p>
  </a>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
  <script src="../js/script.js"></script>
</html>
